{
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true,
		"commonjs": true,
		"node": true
	},
	"extends": [
		"plugin:vue/essential",
		"eslint:recommended"
	],
	"root": true,
	"globals": {
		"annyang": true,
		"process": true,
		"__dirname": true,
		"digitalWrite": true,
		"D4": true
	},
	"parserOptions": {
        "ecmaVersion": 2017
	},
	"rules": {
		"no-unused-vars": "warn",
		"no-console": "warn"
    }
}