// rename this file to config.json and fill in your real data
{
	"development": {
		"BASE_URL": "yourHttpRequestsUrl",
		"JWT_SECRET": "someSecretKeyForJWT",
		"KEY": "anotherKey",
		"MONGODB_URI": "mongoDbUri",
		"NODE_ENV": "development",
		"PORT": "devProt",
		"SMTP_KEY": "emailClientPassword",
		"SMTP_USER": "emailClientSmtpAddress",
		"WS_URL": "yourWsRequestsUrl",
	},
	"production": {
		"BASE_URL": "yourHttpRequestsUrl",
		"JWT_SECRET": "someSecretKeyForJWT",
		"KEY": "anotherKey",
		"MONGODB_URI": "mongoDbUri",
		"NODE_ENV": "production",
		"PORT": "devProt",
		"SMTP_KEY": "emailClientPassword",
		"SMTP_USER": "emailClientSmtpAddress",
		"WS_URL": "yourWsRequestsUrl",
	}
}