// rename this file to config.json and fill in your real data
{
	"development": {
		"HOST": "yourDevHostName",
		"JWT_SECRET": "someSecretKeyForJWT",
		"KEY": "anotherKey",
		"MONGODB_URI": "mongoDbUri",
		"SMTP_KEY": "emailClientPassword",
		"SMTP_USER": "emailClientSmtpAddress",
		"PORT": "devProt",
		"NODE_ENV": "development"
	}
}